# Задача 1

Дан список сотрудников банка. 
names = [«Иван», «Марина», «Виталий», «Александр»]
lastnames = [«Салтыков», «Иванова», «Жученко», «Петров»]
middlenames = [«Романович», «Ивановна», «Даниилович», «Евгеньевич»]
ages = [24, 25, 30, 28]
Нужно составить словарь, в котором ключом будет ФИО, а значением возраст.

Мягкий дедлайн: 9 октрября.

Жеcткий дедлайн 16 октрября.

In [7]:
names = ['Иван', 'Марина', 'Виталий', 'Александр']
lastnames = ['Салтыков', 'Иванова', 'Жученко', 'Петров']
middlenames = ['Романович', 'Ивановна', 'Даниилович', 'Евгеньевич']
ages = [24, 25, 30, 28]
names = [' {} '.format(i) for i in names]
res_name = [i + j + k for i, j, k in zip(lastnames, names, middlenames)]
result_dict = dict(zip(res_name, ages))

# ваш код тут

true_result_dict = {
    'Салтыков Иван Романович': 24, 
    'Иванова Марина Ивановна': 25, 
    'Жученко Виталий Даниилович': 30, 
    'Петров Александр Евгеньевич': 28
}
assert result_dict == true_result_dict
print("OK")

#если воникает эта ошибка "AssertionError" значит вы решили не верно, 
#иначе вы решили все верно

OK

# Задача 2
Дан текст. Найти частоту встречания символов в тексте и оформить это как словарь. Где символ – ключ, частота встречания – значения. Спец. Символы исключить.

In [8]:
s = "А из города уже выступало неприятельское войско, гремя в литавры и трубы. Подбоченясь, выезжали паны, окруженные несметными слугами. И стали они наступать тесно на казацкие таборы, грозя, нацеливаясь пищалями, сверкая очами и блеща медными доспехами. Дымом затянуло все поле, а запорожцы все палили, не переводя дух."
result_dict = {}

# ваш код тут
s = s.replace(',', '').replace('.', '').replace('-', '').replace(' ', '')

for i in s.lower():
    if i in result_dict:
        result_dict[i] += 1
    else:
        result_dict[i] = 1  

true_result_dict = {'а': 25, 'и': 20, 'з': 6, 'г': 4, 'о': 21, 'р': 11, 'д': 7, 'у': 8, 'ж': 4, 'е': 24, 'в': 10, 'ы': 11, 'с': 14, 'т': 11, 'п': 11, 'л': 13, 'н': 15, 'я': 9, 'ь': 4, 'к': 6, 'й': 1, 'м': 11, 'б': 4, 'ч': 2, 'ц': 3, 'щ': 2, 'х': 2}

assert result_dict == true_result_dict
print("OK")

OK

# Задача 3
Составить словарь из двух ключей "unique", "nonunique". В первый ключ положить список уникальных слов, во второй не уникальных.

In [9]:
s = """Это слово, которое я в детстве постоянно слышал от моей мамы.
Мама произносила это слово так нежно и так серьезно, словно оно обозначало что-то столь важное, неотъемлемое.
Я любил это слово, из-за этого я делал все, чтоб его услышать как можно чаще.
Я вырос. Я понял, что это слово не представляет из себя чего-то сверхъестественного, не обозначает оно какое-то божество и произнести его можно по разному.
Это слово самое обычное... но в то же время самое сильное.
Это слово ~ Спасибо."""
result_dict = {}

# ваш код тут
from collections import Counter
s = s.replace(',', '').replace('.', '').replace('~', '')
s1 = s.lower().split()
s1 = dict(Counter(s1))
nonunique_temp = {k:v for k, v in s1.items() if v > 1}
unique_temp = {k:v for k, v in s1.items() if v == 1}
nonunique = []
for key in nonunique_temp:
    nonunique.append(key)
unique = []
for key in unique_temp:
    unique.append(key)
result_dict = {'unique': unique, 'nonunique': nonunique}
true_result_dict = {
    'unique': ['которое', 'детстве', 'постоянно', 'слышал', 'от', 'моей', 'мамы', 'мама', 'произносила', 'нежно', 'серьезно', 'словно', 'обозначало', 'что-то', 'столь', 'важное', 'неотъемлемое', 'любил', 'из-за', 'этого', 'делал', 'все', 'чтоб', 'услышать', 'как', 'чаще', 'вырос', 'понял', 'что', 'представляет', 'из', 'себя', 'чего-то', 'сверхъестественного', 'обозначает', 'какое-то', 'божество', 'произнести', 'по', 'разному', 'обычное', 'но', 'то', 'же', 'время', 'сильное', 'спасибо'], 
    'nonunique': ['это', 'слово', 'я', 'в', 'так', 'и', 'оно', 'его', 'можно', 'не', 'самое']
}

assert result_dict == true_result_dict
print("OK")

OK

# Задача 4

Маша и Аня работают в отделе продаж нашего банка и продают Кредиты наличными. <br>
Оформленные ими кредиты представлены в соответствующих словарях (сумма кредита, ставка, срок в годах)<br>
Среди клиентов Маши и Ани найти клиентов и вывести на экран, у которых:<br>
•	Совпадает ставка<br>
•	Совпадает сумма кредита<br>
•	Совпадает срок выплаты<br>
•	Не совпадает сумма, но совпадает срок выплаты<br>
•	Совпадает процентная ставка, но не совпадает сумма кредита.<br>
Условие может, как выполниться, так и не выполниться (такое пересечение может быть пустым)<br>

Выводить ВСЕ значения которые имеют совпадения.

In [10]:
masha_credits = {
        'Салтыков Иван': {
        'credit': 80000,
        'percent': 22.5,
        'period': 3
    },
        'Иванова Марина': {
        'credit': 240000,
        'percent': 20.8,
        'period': 5
    },
        'Жученко Виталий': {
        'credit': 35000,
        'percent': 19.4,
        'period': 2
    },
        'Петров Александр': {
        'credit': 100000,
        'percent': 27.9,
        'period': 3
    },
        'Краснов Антон': {
        'credit': 10000,
        'percent': 55.2,
        'period': 1
    },
        'Полено Елена': {
        'credit': 330000,
        'percent': 4.0,
        'period': 1
    },
}

ann_credits = {
        'Букин Геннадий': {
        'credit': 1000,
        'percent': 55.2,
        'period': 20
    },
        'Антонов Юрий': {
        'credit': 20000,
        'percent': 20.8,
        'period': 4
    },
        'Трененков Виталий': {
        'credit': 35000,
        'percent': 20.1,
        'period': 1
    },
        'Самоваров Павел': {
        'credit': 100000,
        'percent': 27.9,
        'period': 2
    },
        'Самсонов Владимир': {
        'credit': 76000,
        'percent': 11.9,
        'period': 4
    },
        'Антонина Антонина': {
        'credit': 1100000,
        'percent': 4.0,
        'period': 5
    },
        'Колованов Ярослав': {
        'credit': 25000,
        'percent': 22.2,
        'period': 2
    },
        'Чайкина Наталья': {
        'credit': 330000,
        'percent': 18.9,
        'period': 3
    },
}

# ваше решение тут
import pandas as pd
masha_credits = pd.DataFrame(masha_credits).T.reset_index()
ann_credits = pd.DataFrame(ann_credits).T.reset_index()
masha_credits = masha_credits.rename(columns={'index': 'клиенты Маши'})
ann_credits = ann_credits.rename(columns={'index': 'клиенты Ани'})
stavka_m = masha_credits[['клиенты Маши', 'percent']][masha_credits['percent'].isin(ann_credits['percent'])]
stavka_a = ann_credits[['клиенты Ани', 'percent']][ann_credits['percent'].isin(masha_credits['percent'])]
stavka_res = stavka_m.merge(stavka_a, on='percent', how='left')
stavka_res = stavka_res[['клиенты Маши', 'клиенты Ани', 'percent']]

credit_m = masha_credits[['клиенты Маши', 'credit']][masha_credits['credit'].isin(ann_credits['credit'])]
credit_a = ann_credits[['клиенты Ани', 'credit']][ann_credits['credit'].isin(masha_credits['credit'])]
credit_res = credit_m.merge(credit_a, on='credit', how='left')
credit_res = credit_res[['клиенты Маши', 'клиенты Ани', 'credit']]

period_m = masha_credits[['клиенты Маши', 'period']][masha_credits['period'].isin(ann_credits['period'])]
period_a = ann_credits[['клиенты Ани', 'period']][ann_credits['period'].isin(masha_credits['period'])]
period_res = period_m.merge(period_a, on='period', how='left')
period_res = period_res[['клиенты Маши', 'клиенты Ани', 'period']]

cred_per_res = masha_credits[['клиенты Маши', 'credit', 'period']].merge(ann_credits[['клиенты Ани', 'credit', 'period']], on='period', how='outer')
cred_per_res = cred_per_res.rename(columns={'credit_x': 'кредит у клиентов Маши', 'credit_y': 'кредит у клиентов Ани'})
cred_per_res = cred_per_res[(cred_per_res['клиенты Маши'].notnull()) & (cred_per_res['клиенты Ани'].notnull())].reset_index(drop=True)
cred_per_res = cred_per_res[cred_per_res['кредит у клиентов Маши'] != cred_per_res['кредит у клиентов Ани']] 

cred_pct_res = masha_credits[['клиенты Маши', 'credit', 'percent']].merge(ann_credits[['клиенты Ани', 'credit', 'percent']], on='percent', how='outer')
cred_pct_res = cred_pct_res.rename(columns={'credit_x': 'кредит у клиентов Маши', 'credit_y': 'кредит у клиентов Ани'})
cred_pct_res = cred_pct_res[(cred_pct_res['клиенты Маши'].notnull()) & (cred_pct_res['клиенты Ани'].notnull())].reset_index(drop=True)
cred_pct_res = cred_pct_res[cred_pct_res['кредит у клиентов Маши'] != cred_pct_res['кредит у клиентов Ани']] 

print('Совпадает ставка у следующих клиентов:')
display(stavka_res)
print('\nСовпадает сумма кредита у следующих клиентов:')
display(credit_res)
print('\nСовпадает срок выплаты у следующих клиентов:')
display(period_res)
print('\nНе совпадает сумма, но совпадает срок выплаты у следующих клиентов:')
display(cred_per_res)
print('\nСовпадает процентная ставка, но не совпадает сумма кредита у следующих клиентов:')
display(cred_pct_res)

Совпадает ставка у следующих клиентов:

       клиенты Маши        клиенты Ани  percent
0    Иванова Марина       Антонов Юрий     20.8
1  Петров Александр    Самоваров Павел     27.9
2     Краснов Антон     Букин Геннадий     55.2
3      Полено Елена  Антонина Антонина      4.0

Совпадает сумма кредита у следующих клиентов:

       клиенты Маши        клиенты Ани    credit
0   Жученко Виталий  Трененков Виталий   35000.0
1  Петров Александр    Самоваров Павел  100000.0
2      Полено Елена    Чайкина Наталья  330000.0

Совпадает срок выплаты у следующих клиентов:

       клиенты Маши        клиенты Ани  period
0     Салтыков Иван    Чайкина Наталья     3.0
1    Иванова Марина  Антонина Антонина     5.0
2   Жученко Виталий    Самоваров Павел     2.0
3   Жученко Виталий  Колованов Ярослав     2.0
4  Петров Александр    Чайкина Наталья     3.0
5     Краснов Антон  Трененков Виталий     1.0
6      Полено Елена  Трененков Виталий     1.0

Не совпадает сумма, но совпадает срок выплаты у следующих клиентов:

,клиенты Маши,кредит у клиентов Маши,period,клиенты Ани,кредит у клиентов Ани
0,Салтыков Иван,80000.0,3.0,Чайкина Наталья,330000.0
1,Петров Александр,100000.0,3.0,Чайкина Наталья,330000.0
2,Иванова Марина,240000.0,5.0,Антонина Антонина,1100000.0
3,Жученко Виталий,35000.0,2.0,Самоваров Павел,100000.0
4,Жученко Виталий,35000.0,2.0,Колованов Ярослав,25000.0
5,Краснов Антон,10000.0,1.0,Трененков Виталий,35000.0
6,Полено Елена,330000.0,1.0,Трененков Виталий,35000.0

Совпадает процентная ставка, но не совпадает сумма кредита у следующих клиентов:

,клиенты Маши,кредит у клиентов Маши,percent,клиенты Ани,кредит у клиентов Ани
0,Иванова Марина,240000.0,20.8,Антонов Юрий,20000.0
2,Краснов Антон,10000.0,55.2,Букин Геннадий,1000.0
3,Полено Елена,330000.0,4.0,Антонина Антонина,1100000.0

# Задача 5
Суть задачи в том, чтобы из англо-латинского словаря сделать латино-английский.

Входные данные:<br>
Даны строки (необходимо представить в виде словаря)

apple - malum, pomum, popula<br>
fruit - baca, bacca, popum<br>
punishment - malum, multa<br>

Выходные данные:<br>
baca - fruit<br>
bacca - fruit<br>
malum - apple, punishment<br>
multa - punishment<br>
pomum - apple<br>
popula - apple<br>
popum - fruit<br>

In [11]:
# ваше решение тут
import pandas as pd
dict_voc = {'apple': ['malum', 'pomum', 'popula'],
            'fruit': ['baca', 'bacca', 'popum'],
            'punishment': ['malum', 'multa']}
print('Исходные данные:\n', dict_voc) 
res = pd.DataFrame()
for key in dict_voc.keys():
    df = pd.DataFrame(dict_voc[key])
    df = df.rename(columns={0: 'latin'})
    df['english'] = key
    df = df[['english', 'latin']]
    res = res.append(df)
res = res.groupby(['latin'])['english'].apply(list)  
res = pd.DataFrame(res).reset_index()
print('\nРезультат:')
display(res)

Исходные данные:
 {'apple': ['malum', 'pomum', 'popula'], 'fruit': ['baca', 'bacca', 'popum'], 'punishment': ['malum', 'multa']}

Результат:

    latin              english
0    baca              [fruit]
1   bacca              [fruit]
2   malum  [apple, punishment]
3   multa         [punishment]
4   pomum              [apple]
5  popula              [apple]
6   popum              [fruit]